.project-card {
  width: 100%;
  max-width: 350px;
  min-width: 250px;
  display: grid;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;
  color: var(--card-color);
  background-color: var(--card-bg);
  transition: transform 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}




.project-card:hover {
    transform: scale(1.02);
}
.project-card img {
    display: block;
  width: 100%;          /* Ensures it fills container */
  height: auto;
  border-radius: 6px;
  object-fit: cover;     /* Prevents distortion */
  margin-bottom: 1rem;
}
.project-card h2 {
    margin: 0 0 8px;
    font-size: 1.5rem;
}

.project-card a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;

  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-bg);

  padding: 0.4rem 0.9rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  width: fit-content;
  align-self: start;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.project-card a:hover {
  background-color: #0056b3; /* Optional: darker blue on hover */
  transform: translateX(2px);
}

.project-card a span.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}



.project-card a:hover .arrow {
  transform: rotate(-25deg); /* acute turn */
}