body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body.light {
  background: #ffffff;
  color: #000000;
}

body.dark {
  background: #121212;
  color: #ffffff;
}

.project-card {
  background-color: var(--card-bg);
}

body.light .project-card {
  --card-bg: #f9f9f9;
}

body.dark .project-card {
  --card-bg: #1e1e1e;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
}
body.light {
  --bg-color: #ffffff;
  --text-color: #222222;
  --navbar-bg: #f0f0f0;
  --card-bg: #f9f9f9;
   --button-bg: #007bff;
  --button-text: #ffffff;
}

/* Dark mode */
body.dark {
  --bg-color: #121212;
  --text-color: #eeeeee;
  --navbar-bg: #1e1e1e;
  --card-bg: #2a2a2a;
  --button-bg: #3399ff;
  --button-text: #ffffff;
}